* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.first_page {
    height: 100vh;
    width: 100vw;
    background-image: url("assets/3.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: rgb(203, 224, 219);
    font-size: 40px;
    text-shadow: 20px solid rgb(0, 0, 0);
    position: absolute;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}


.scroll {
    color: rgb(171, 223, 210);
    margin-top: 25%;
    font-size: 20px;
    text-shadow: 20px solid rgb(0, 0, 0);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

.exclamation {
    width: 100px;
    height: 100px;
    font-size: 50px;
    line-height: 2;
    padding: 0 0 0 20px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

.second_page {
    height: 100vh;
    width: 100vw;
    background-image: url("assets/bc2.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main {
    border: 2px solid grey;
    background-color: rgb(167, 201, 196);
    opacity: 0.8;
    padding: 1%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

li {
    list-style-type: square;
    margin: 2px
}

.Register {
    font-size: 20px;
    text-shadow: 2px 4px 4px rgba(12, 8, 8, 0.6);
    font-weight: bolder;
}

.btn {
    margin-top: 15px;
    border-radius: 10%;
    padding: 20px;
    width: 15%;
    display: flex;
}

button {
    border-radius: 20%;
    padding: 10px;
    background-color: rgb(171, 214, 214);
    opacity: 0.6;
    font-style: oblique;
}